<div id="landing-view">
<div class="row">
        <form class="form form-inline">
          <div class="form-group"><input class="form-control" id="student-name" ng-model="newStudent.name" placeholder="Enter name"></div>
          <div class="form-group"><input class="form-control" id="student-email" ng-model="newStudent.email" placeholder="Enter email"></div>
          <div class="form-group"><input class="form-control" id="student-number" ng-model="newStudent.number" placeholder="Enter number"></div>
          <div class="form-group"><button class="btn btn-primary btn-block" ng-click="addStudent()">Add Student</button></div>
          <div class="form-group"><button class="btn btn-info btn-block" ng-click="deselect()">Clear</button></div>
          </form>
        </div>
        <div class="row">
          <div class="col-lg-12">
          <h2>Student List</h2>
          <hr>
            <div ng-repeat="student in studentList" class="row marginTop10">
               <div class="col-lg-3">{{$index+1}}.&nbsp;<a ng-bind="student.name" href="/#/studentDetails/{{student._id}}"></a></div>
               <div class="col-lg-2"><button class="btn btn-danger btn-block" ng-click="remove(student)">Remove</button></div>
            </div>
  <div>  <a href="/Excel">Excel Download</div>
            </div>
        </div>
</div>